@model bagcash.Models.ViewModels.TransacaoViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h4>Cadastrar transação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.FaturaId != null)
            {
                <input type="hidden" asp-for="FaturaId" value="@ViewBag.FaturaId"/>
            }

            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<Tipo>()" class="form-control">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group m-0">
                <label class="control-label">Se repete?</label>
                <div class="form-group m-0">
                    <input id="sim" asp-for="SeRepete" type="radio" value="true" class="custom-radio" />
                    <label for="sim" class="">Sim</label>
                    <input id="nao" asp-for="SeRepete" type="radio" value="false" class="custom-radio" checked />
                    <label for="nao" class="">Não</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Quantas vezes?</label>
                <input type="number" asp-for="NumeroDeParcelas" value="1" min="1" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input type="text" asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input type="number" asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeCadastro" class="control-label"></label>
                <input type="date" asp-for="DataDeCadastro" value="" class="form-control" />
                <span asp-validation-for="DataDeCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDaPrimeiraParcela" class="control-label"></label>
                <input type="date" asp-for="DataDaPrimeiraParcela" value="" class="form-control" />
                <span asp-validation-for="DataDaPrimeiraParcela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Início</a>
</div>

@section scripts{

    <script>
        $('#Tipo').change(function () {
            const tipo = $(this).val();

            const data = {
                tipo: tipo
            }

            let option = '';
            $.get('/Categoria/ObterCategoriasPorTipo', data).done(function (response) {

                $(response).each(function (index, item) {
                    option = `<option value="${item.id}">${item.nome}</option>`

                    $('#Categoria').append(option);
                });
            });
        })
    </script>

}
