@model bagcash.Models.ViewModels.TransacaoViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

@section styles{
    <link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
}

<h4>Cadastrar <span class="text-lowercase">@Model.Tipo</span></h4>
<div class="row">
    <div class="col-md-4">
        <hr />
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input id="tipoDeTransacao" name="Tipo" type="hidden" value="@Model.Tipo" />

            @if (ViewBag.FaturaId != null)
            {
                <input type="hidden" asp-for="FaturaId" value="@Model.FaturaId" />
            }

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input type="text" asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Fixa?</label>
                <div class="form-check">
                    <input asp-for="Fixa" type="checkbox" value="false" class="form-check-input " />
                    <label class="form-check-label" for="Fixa">Sim</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Parcelado?</label>
                <div class="form-check">
                    <input id="parcelado" type="checkbox" value="" class="form-check-input " />
                    <label class="form-check-label" for="parcelado">Sim</label>
                </div>
            </div>
            <div id="parcelas" class="form-group hide">
                <label class="control-label">Quantas vezes?</label>
                <input type="number" asp-for="NumeroDeParcelas" value="1" min="1" class="form-control" />
                <span asp-validation-for="NumeroDeParcelas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input type="number" asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataDaPrimeiraParcela" class="control-label"></label>
                <input type="text" asp-for="DataDaPrimeiraParcela" value="" class="form-control daterange" />
                <span asp-validation-for="DataDaPrimeiraParcela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control">
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btn-cadastrar-categoria" type="button" class="btn btn-outline-secondary">
                    <i class="fas fa-plus-circle mr-2"></i> Cadastrar categoria
                </button>
            </div>
            <div>
                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Salvar</button>
                <a class="btn btn-outline-dark ml-2" asp-action="Index"><i class="fas fa-undo"></i> Cancelar</a>
            </div>

        </form>
    </div>
</div>

<div id="cadastrar-categoria" class="modal fade" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script>

        $(function () {
            obterCategoriaPorTipo($('#tipoDeTransacao').val(), 'Categoria');
        })

        function obterCategoriaPorTipo(tipo, element) {
            $.ajax({
                url: '/Categoria/ObterCategoriasPorTipo',
                data: { tipo: tipo },
                success: function (response) {
                    let option = '<option></option>';

                    $('#' + element).html('').append(option);

                    $(response).each(function (index, item) {
                        option = `<option value="${item.id}">${item.nome}</option>`

                        $('#' + element).append(option);
                    });
                }
            });
        }

        $('#btn-cadastrar-categoria').click(function () {

            $.ajax({
                method: 'get',
                url: '/Categoria/ExibirFormCadastrarCategoria',
                success: function (response) {

                    $('.modal-body').html(response);

                    obterCategoriaPorTipo($('#tipoDeTransacao').val(), 'CategoriaPaiId');

                    $('select#TipoDeCategoria option').each(function () {
                        if ($(this).text().toLowerCase() == $('#tipoDeTransacao').val().toLowerCase()) {
                            $(this).prop('selected', 'selected');
                            return;
                        }
                    });

                    $(document).find('#group-tipoDeCategoria').addClass('hide');

                    if ($(document).find('#tipoDeTransacao').val() === 'Receita') {
                        $(document).find('#group-limite').addClass('hide');
                    }

                    //$('input').each(function () {
                    //    $(this).removeAttr('autofocus');
                    //    console.log($(this));
                    //});

                    //$(document).find('#Nome').focus();
                    $('#cadastrar-categoria').modal('show');
                }
            })
        });

        $("#parcelado").click(function () {

            if ($(this).prop("checked")) {
                $('#Valor').prev().text('Valor da primeira parcela');
                $('#DataDaPrimeiraParcela').prev().text('Data da primeira parcela');
                $('#parcelas').removeClass('hide');
            }
            else {
                $('#Valor').prev().text('Valor');
                $('#DataDaPrimeiraParcela').prev().text('Data');
                $('#parcelas').addClass('hide');
            }

        });

        $('#Fixa').click(function () {
            if ($(this).prop("checked")) {
                $(this).val(true);
            }
            else {
                $(this).val(false);
            }
        });

        $(document).on('submit', '#form-cadastrar-categoria', function (e) {
            e.preventDefault();

            var formData = new FormData(document.getElementById("form-cadastrar-categoria"));

            $.ajax({
                method: 'post',
                url: '/Categoria/Cadastrar',
                data: formData,
                contentType: false,
                processData: false,
                success: function () {
                    $('#cadastrar-categoria').modal('hide');
                    obterCategoriaPorTipo($('#tipoDeTransacao').val(), 'Categoria');
                    limparCamposDaModal();
                }
            });
        });

        function limparCamposDaModal() {
            $('#Nome').val('');
            $('#Limite').val('');

            if ($('#tipoDeTransacao').val() === 'Despesa') {
                $('#Limite').val('');
            }
            else {
                $('#Limite').val(0);
            }
        }
    </script>

}
