@{
    ViewData["Title"] = "Cadastrar";
}

<h4>Cadastrar categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <partial name="_FormCadastrarCategoria">
    </div>
</div>

@section scripts{
    <script>
        $('#Tipo').change(function () {
            const tipo = $(this).val();

            const data = {
                tipo: tipo
            }

            let option = '';
            $.get('/Categoria/ObterCategoriasPorTipo', data).done(function (response) {

                $(response).each(function (index, item) {
                    option = `<option value="${item.id}">${item.nome}</option>`

                    $('#CategoriaPaiId').append(option);
                });
            });
        })
    </script>

}