@model bagcash.Models.ViewModels.CategoriaViewModel

@{
    ViewData["Title"] = "Cadastrar";
}


<h4>Cadastrar categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<Tipo>()" class="form-control">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limite" class="control-label"></label>
                <input asp-for="Limite" class="form-control" />
                <span asp-validation-for="Limite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaPaiId" class="control-label"></label>
                <select asp-for="CategoriaPaiId" class="form-control">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="CategoriaPaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{

    <script>
        $('#Tipo').change(function () {
            const tipo = $(this).val();

            const data = {
                tipo: tipo
            }

            let option = '';
            $.get('/Categoria/ObterCategoriasPorTipo', data).done(function (response) {

                $(response).each(function (index, item) {
                    option = `<option value="${item.id}">${item.nome}</option>`

                    $('#CategoriaPaiId').append(option);
                });
            });
        })
    </script>

}