@model bagcash.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total de receitas</h4>
            <h5 class="card-text badge badge-info">R$ @Model.TotalDeReceitas</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total de despesas</h4>
            <h5 class="card-text badge badge-warning">R$ @Model.TotalDeDespesas</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Saldo</h4>
            <h5 class="card-text badge badge-success">R$ @Model.Saldo</h5>
        </div>
    </div>
</div>
